.signin-text h1 {
  text-align: center;
}
.home-side-banner {
  height: 721px;
  width: 100%;
}
.container {
  width: 100%;
}
.row {
  max-width: 100%;
}
.equal {
  width: 50%;
  float: left;
}
.sign-in-text {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 70px;
  margin-left: 50px;
}
.text-center {
  text-align: left;
}
.clr {
  background-color: black;
  margin-top: 70px;
  background-repeat: black;
  border-color: black;
}
.form-control {
  width: 40%;
}
.form-allign {
  margin-left: 50px;
}
.side-text {
  margin-top: 130px;
  margin-left: 50px;
}
.side img {
  width: 35px;
  float: left;
  padding-right: 5px;
  border: none !important;
}
.side span {
  font-size: 10px;
}
.left-text {
  padding: 3px;
  line-height: 15px;
}
.btn-primary {
  background-image: none;
}
.forgot-pwd {
  margin-left: 187px;
  font-size: 11px;
}
.email-icon img {
  margin-top: 10px;
  height: 14px;
  width: 18px;
  margin-left: 250px;
  position: absolute;
}

@media only screen and (max-width: 320px) {
  .equal {
    float: none;
    width: 100%;
  }
  .sign-in-text {
    width: 100%;
    margin-bottom: 0%;
  }
  .form-control {
    width: 100%;
  }
  .forgot-pwd {
    margin-left: 0px;
  }
  .clr {
    margin-top: 15px;
  }
  .side-text {
    margin-top: 20px;
  }
  img {
    vertical-align: middle;
    height: 341px;
  }
}

@media only screen and (max-width: 360px) {
  .equal {
    float: none;
    width: 100%;
  }
  .sign-in-text {
    width: 100%;
    margin-bottom: 0%;
  }
  .form-control {
    width: 100%;
  }
  .forgot-pwd {
    margin-left: 0px;
  }
  .clr {
    margin-top: 15px;
  }
  .side-text {
    margin-top: 20px;
  }
  img {
    vertical-align: middle;
    height: 367px;
  }
}
@media only screen and (max-width: 380px) {
  .equal {
    float: none;
    width: 100%;
  }
  .sign-in-text {
    width: 100%;
    margin-bottom: 0%;
  }
  .form-control {
    width: 100%;
  }
  .forgot-pwd {
    margin-left: 0px;
  }
  .clr {
    margin-top: 15px;
  }
  .side-text {
    margin-top: 20px;
  }
  img {
    vertical-align: middle;
    height: 386px;
  }
}
@media only screen and (max-width: 540px) {
  .equal {
    float: none;
    width: 100%;
  }
  .sign-in-text {
    width: 100%;
    margin-bottom: 0%;
  }
  .form-control {
    width: 100%;
  }
  .forgot-pwd {
    margin-left: 0px;
  }
  .clr {
    margin-top: 15px;
  }
  .side-text {
    margin-top: 20px;
  }
  img {
    vertical-align: middle;
    height: 560px;
  }
}

@media only screen and (max-width: 680px) {
  .equal {
    float: none;
    width: 100%;
  }
  .home-side-banner {
    height: 360px;
    width: 100%;
  }
  .sign-in-text {
    width: 100%;
    margin-bottom: 0%;
  }
  .form-control {
    width: 100%;
  }
  .forgot-pwd {
    margin-left: 0px;
  }
  .clr {
    margin-top: 15px;
  }
  .side-text {
    margin-top: 20px;
  }
  img {
    vertical-align: middle;
    height: 800px;
  }
  .email-icon img {
    margin-top: 10px;
    height: 14px;
    width: 18px;
    right: 38px;
    position: absolute;
  }
}
@media only screen and (max-width: 780px) {
  .equal {
    float: none;
    width: 100%;
  }
  .home-side-banner {
    height: 360px;
    width: 100%;
  }
  .sign-in-text {
    width: 100%;
    margin-bottom: 0%;
  }
  .form-control {
    width: 100%;
  }
  .forgot-pwd {
    margin-left: 0px;
  }
  .clr {
    margin-top: 15px;
  }
  .side-text {
    margin-top: 20px;
  }
  img {
    vertical-align: middle;
    height: 800px;
  }
}
@media only screen and (max-width: 1028px) {
  .equal {
    float: none;
    width: 100%;
  }
  .home-side-banner {
    height: 360px;
    width: 100%;
  }
  .sign-in-text {
    width: 100%;
    margin-bottom: 0%;
  }
  .form-control {
    width: 100%;
  }
  .forgot-pwd {
    margin-left: 0px;
  }
  .clr {
    margin-top: 15px;
  }
  .side-text {
    margin-top: 20px;
  }
  img {
    vertical-align: middle;
    height: 800px;
  }
  .email-icon img {
    margin-left: 112px !important;
  }
}
